#container {
    /* to set the width of the container */
    width: 360px;
    /* a trick to center the container */
    margin: 0 auto;
    border: 2px solid grey;
}

.completed {
    color: gray;
    text-decoration: line-through;
}